<div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="outer-div">
    <img class="img-fluid" src="https://live.staticflickr.com/65535/50417121248_a4b0b080a9.jpg">
    <img class="img-fluid" src="https://live.staticflickr.com/65535/50417121248_a4b0b080a9.jpg">
    <img class="img-fluid" src="https://live.staticflickr.com/65535/50417121248_a4b0b080a9.jpg">
    <img class="img-fluid" src="https://live.staticflickr.com/65535/50417121248_a4b0b080a9.jpg">
    <img class="img-fluid"git src="https://live.staticflickr.com/65535/50417121248_a4b0b080a9.jpg">
</div>
