<div class="container" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
  <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column"  fxLayout="row" fxFlex.md="50" fxLayoutAligmnet="space-between center" fxLayoutGap="20px" >
    <div fxFlex.lt-md="100" fxFlex="25" >
      <img class="img-fluid" src="https://live.staticflickr.com/65535/50431863823_e23e1717eb.jpg">
    </div>
    <div fxFlex.lt-md="100" fxFlex="25" >
      <img class="img-fluid" src="https://live.staticflickr.com/65535/50432558366_2d3419bf5b.jpg">
    </div>
    <div fxFlex.lt-md="100" fxFlex="25" >
        <img class="img-fluid" src="https://live.staticflickr.com/4852/46642417191_10429f262d.jpg">
    </div>
    <div fxFlex.lt-md="100" fxFlex="25" >
        <img class="img-fluid" src="https://live.staticflickr.com/4852/46642417191_10429f262d.jpg">
    </div>
  </div>
  <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50" fxLayoutAligmnet="space-between center" fxLayoutGap="20px" >
    <div fxFlex.lt-md="100" fxFlex="35" >
        <img class="img-fluid" src="https://live.staticflickr.com/65535/50431853158_ee40054453.jpg">

    </div>
    <div fxFlex.lt-md="100" fxFlex="35" >
        <img class="img-fluid" src="https://live.staticflickr.com/65535/50432696802_95ca2f9471.jpg">
    </div>
    <div fxFlex.lt-md="100" fxFlex="35" >
        <img class="img-fluid" src="https://live.staticflickr.com/65535/50432539351_08aede6377.jpg">
    </div>
  </div>
</div>

