.container .cardWrap div{
  //height: 300px;
  //border:2px solid gray;

}
.container{
  background: linear-gradient(90deg, rgba(3, 24, 36, 0.56) 0%, rgba(6, 16, 36, 0.91) 35%, rgb(14, 23, 36) 80%);
}
img{
  border:4px solid gray;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #050e24;
  -moz-box-shadow: 10px 10px 5px #050e24;
  -webkit-box-shadow: 10px 10px 5px #050e24;
  -khtml-box-shadow: 10px 10px 5px #050e24;
}
.picture-div{
  border: 2px solid white;
  background-color: brown;
}
.cardWrap{
  border: 2px solid white;
}
