#twitter-button{
    height: 40px;
    width: 50px;

}
.fa-twitter {
    background:  white;
    color: #55ACEE;
  }
  #t-button{
    color: black;
  }
.example-header-image {
  background-image: url('https://live.staticflickr.com/65535/50428866602_46d4c90467_t.jpg');
  background-size: cover;
}
