n<div class="navbar">
  <!--For Public-->
  <mat-toolbar [ngStyle]="myStyle()">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <button mat-button >
          <mat-icon>home</mat-icon>
          <span class="logo">{{projectName}}</span>
        </button>
        <div *ngIf="!deviceXs">
          <button mat-button
                  [routerLink]="['/']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Home
          </button>
          <button mat-button
                  [routerLink]="['/gallery']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Gallery
          </button>
          <button mat-button
                  [routerLink]="['/video']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Video
          </button>
          <button mat-button
                  [routerLink]="['/testimony']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">testimony
          </button>
          <button mat-button
                  [routerLink]="['/contactUs']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Contact Us
          </button>
        </div>


      </div>
    </mat-toolbar-row>
  </mat-toolbar>
