#middle{
  color: white;
  text-align: center;
  line-height: 30px;


}
#first{
  color: white;
  text-align: center;
  text-align: center;
  line-height: 30px;

}
#third{
  color: white;
  text-align: center;
  line-height: 30px;

}
#image{
  height: 300px;
  width: 500px;

}

