<div fxLayout="row" fxLayoutAlign="space-evenly center" class="developer-div" style="padding-top: 20px; padding-bottom: 20px;">
  <div id="first" class="col" fxFlex="20">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image-mounita"></div>
        <mat-card-title>Mounita Bhandari</mat-card-title>
        <mat-card-subtitle>Project Leader</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://live.staticflickr.com/65535/50417121248_a4b0b080a9.jpg" alt="Photo of M. Bhandari">
      <mat-card-content>
        <p>
          She is our project leader, she design project and maintain it, she can work on different types of programming languages
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div id="middle" class="col" fxFlex="20">
    <img id="image" src="https://live.staticflickr.com/65535/50445447217_2e4e229044.jpg">
<!--    <mat-card class="example-card">-->
<!--      <mat-card-header>-->
<!--        <div mat-card-avatar class="example-header-image-ritaja"></div>-->
<!--        <mat-card-title>Ritaja Ghosh</mat-card-title>-->
<!--        <mat-card-subtitle>Developer</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      <img mat-card-image src="https://live.staticflickr.com/65535/50426613873_1a28015ebc.jpg" alt="Photo of R. Ghosh">-->
<!--      <mat-card-content>-->
<!--        <p>-->
<!--          She is our project leader, she design project and maintain it, she can work on different types of programming languages-->
<!--        </p>-->
<!--      </mat-card-content>-->
<!--      <mat-card-actions>-->
<!--        <button mat-button>SHARE</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
  </div>
  <div id="third" class="col" fxFlex="20">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image-mou"></div>
        <mat-card-title>Mou Podder</mat-card-title>
        <mat-card-subtitle>Designer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          She is our project leader, she design project and maintain it, she can work on different types of programming languages
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

