#middle{
  color: white;
  text-align: center;
  line-height: 30px;


}
#left{
  color: white;
  text-align: center;
  text-align: center;
  line-height: 30px;

}
#right{
  color: white;
  text-align: center;
  text-align: center;
  line-height: 30px;
}
#second{
  color: white;
  text-align: center;
  line-height: 30px;

}

#modi{
  height: 70px;
  width: 60px;
}
#mounita{
  height: 70px;
  width: 60px;
}
#ritu{
  height: 70px;
  width: 60px;
}
#q2{
  height: 40px;
  width: 40px;
}
.comment-card{
  width: 33%;
}
.sender{
  color: brown;
}
.message{
  font-style: revert;
}

.quotation-left{
  font-size: 50px;
}
.quotation-right{
  font-size: 50px;
  vert-align: bottom;
}


