#middle{
  color: white;
  text-align: center;


}
#first{
  color: white;
  text-align: center;
  text-align: center;

}
#third{
  color: white;
  text-align: center;

}
#image{
  height: 200px;
  weight: 300px;

}
