

<div fxLayout="row wrap" fxLayoutAlign="space-evenly start" layout-wrap="" fxLayoutGap="2px">
    <mat-card fxFlex="32" class="comment-card m-2" *ngFor="let comment of comments">
      <mat-card-header>
        <div mat-card-avatar  class="example-header-image"></div>
        <mat-card-title *ngIf="comment.type==='message'">{{comment.title}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="comment.type==='picture'">
          <img class="message-image img-fluid" src="https://live.staticflickr.com/65535/50558436608_fd89e6b677.jpg">
        </div>
        <p *ngIf="comment.type==='message'">
          {{comment.message}}
        </p>
        <p *ngIf="comment.type==='picture'">
          {{comment.message}}
        </p>
        <div class="sender" fxLayout="column" fxLayoutAlign="center end">
          <div *ngIf="comment.type==='message'"> -- {{comment.sender}}</div>
          <div *ngIf="comment.type==='message'"   class="comment-image">
            <img  src="assets/images/{{comment.image}}" width="50px" alt="NONE" >
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
</div>



<div fxLayout="row" fxLayoutAlign="space-evenly center" class="developer-div" style="padding-top: 20px; padding-bottom: 20px;">
  <div id="left" class="col" fxFlex="20">
    <i>শুভ জন্মদিন শ্রীপর্ণা দিদি। প্রথমেই জানাই জন্মদিনের অনেক শুভেচ্ছা, ভালোবাসা। খুব ভালো থাকো। 😃
      তোমার সাথে স্যারের বাড়িতেই প্রথম দেখা। তখন আমি ক্লাস 11-এ। প্রথম দিকে আলাপ সেরকম গাঢ় হয়ে ওঠেনি। কিন্তু দিনে দিনে আমরা অনেক কাছের হয়েছি। এখন তোমার সাথে আমাদের সকলেরই সম্পর্কটা খুনসুটি, মজার আর অবশ্যই শ্রদ্ধার। একসাথে আমরা অনেক ভালো সময় কাটিয়েছি, ভবিষ্যতেও আরও কাটাবো। এবার যেদিন দেখা করার দিন ঠিক হবে তুমি আবার মাসির বাড়ি চলে যেও না।🤭 এর আগে তিন চার বার এমনই হয়েছে। 🤣 তুমি তো আমাদের কুম্ভ মেলায় হারিয়ে যাওয়া দিদি। 😆 এমন যে কত মজার ঘটনা আছে বলে শেষ করা যাবে না।
      খুব ভালো থেকো শ্রীপর্ণা দিদি। তোমার সব আশা সব স্বপ্ন পূরণ হোক। সুস্থ থেকো। খুব তাড়াতাড়ি আবার দেখা হবে।</i> ❤❤<br><b>দেবলীনা</b><br><img id="modi" src="assets\images\mou_text.png"><br><br><br>
    <i>শুভ জন্মদিন শ্রীপর্ণা দি🎂। এই বিশেষ দিনটা  তুমি খুব ভালো করে কাটাও। তোমার জন্য অনেক অনেক  ভালোবাসা❤। তোমার মত একজন মিস্টি দিদি পেয়ে আমরা খুব খুশি🥰। তুমি খুব ভালো আর তুমি সবসময় এই রকমই হাসিখুশি প্রাণবন্ত থেকো । তোমার মিস্টি হাসি আমাদের কাছে ভীষণ গুরুত্বপূর্ণ ।</i><br><br><b>মৌনিতা</b><br><img src="https://live.staticflickr.com/65535/50548102221_34bd18edef_t.jpg">
    <br><br><br> <i>' শুভ জন্মদিন তিতলি দিদি 🥳🎂🍫🍰🍫🎂 ❤️🥰😘
    এই দিনটা বারবার তোমার জীবনে ফিরে আসুক খুব খুব ভালো থাকো অনেক আনন্দ কর
    খুব মজা করো আজকের দিনটা  পালন করো অনেক আনন্দ করো।
    আর তুমি আমদের কাজে সবসময় সাহায্য করো জখন আমরা তোমাকে ডেকেছি তখনই  আমরা তোমাকে পেয়েছি । আমরা   আবার তোমাকে জ্বালাব
    কাজের জন্য,
    আর হ্যাঁ তুমি সবসময় এই ভাবেই থেকো হাসি খুসি থেকো ।তোমার মুখে আমার মুখে এই হাসিটাই দেখতে চাই 😘😘"</i><br><b>মৌ</b><br><br><img id="modi" src="assets\images\mou_text.png">

  </div>
  <div id="middle" class="col" fxFlex="60">

    <img id="image" src="https://live.staticflickr.com/65535/50558436608_fd89e6b677.jpg"><br><br><br>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="developer-div">
          <div id="first" class="col" fxFlex="50">
            <i>শুভ জন্মদিন শ্রীপর্ণা দি। তোমার মুখের শান্ত ,নির্মল , প্রাণোচ্ছল হাসি যেমন আমাদের কাছে ভীষণ দামি তেমনই তোমার দোলনচাঁপার মতো গৌর হাস্যোজ্জ্বল মিস্টি মুখ আমাদের কাছে ভীষণ প্রিয় । তোমার মিশুকে ,আদুরে, বন্ধুসুলভ স্বভাব যেমন আমাদের তোমাকে আরও অনেক অনেক ভালোবাসায় তেমনই তোমার বসন্তোসখার কুজন এর মত সুরেলা স্বর শুনলে আমাদের মনটা ভালো হয়ে যায়। তুমি যেমন মন খুলে গল্প করো , মজা করো তেমনই ধৈর্য্য আর যত্ন নিয়ে আমাদের কে যেকোনো কিছু বোঝাও। মজা করার সময় যেমন নির্মল হাসি তোমার ঠোঁটে থাকে তেমনই রেগে গেলে তোমার দুটো ভুরুর মাঝে ভাঁজ টাও প্রকট হয়ে ওঠে আবার কষ্ট পেলে চোখের কোনে জলের ধারাও খরস্রোতা হয়। এই সব নিয়েই তুমি, আমাদের শ্রীপর্ণা দি। তোমার প্রত্যেকটা আচরণ, প্রত্যেকটা কথা , তোমার প্রত্যেকটা হাসি আমরা ভীষণ ভালোবাসি। তাই আজ এই শুভ দিনে তোমার জন্য আমাদের তরফ থেকে তোমার জন্য অনেক শুভ কামনা ,আদর  আর ভালোবাসা। সবসময় আমরা তোমাকে এই ভাবেই চাই, আমাদের শ্রীপর্ণা দির মতো করে।</i><br><br>মৌনিতা<br><img id="mounita" src="assets/images/mounita_text.png"><br><br>
            শুভ জন্মদিন সিপু দিদি ❤🎂🍫🍰🎂তোমার  দিনকে উপভোগ করো তুমি  অনেকটা নিরাপদে থেকো  এবং খুশি থেকো  তুমি আমাদের কাছে অত্যন্ত মূল্যবান,আমি তোমাকে  আমার জীবনে রাখার জন্য সত্যি  ভাগ্যবান,আমি প্রতিশ্রুতি দিলাম সবসময় এই ভবেই তোমায় জ্বলিয়ে যাবো ।<br><br>Ritaja<br><img src="https://live.staticflickr.com/65535/50547373418_7b5264bd0b_t.jpg"><br><br><br>
            শুভ জন্মদিন সিপু দিদি ❤🎂🍫🍰🎂তোমার  দিনকে উপভোগ করো তুমি  অনেকটা নিরাপদে থেকো  এবং খুশি থেকো  তুমি আমাদের কাছে অত্যন্ত মূল্যবান,আমি তোমাকে  আমার জীবনে রাখার জন্য সত্যি  ভাগ্যবান,আমি প্রতিশ্রুতি দিলাম সবসময় এই ভবেই তোমায় জ্বলিয়ে যাবো ।<br><br>Ritaja<br><img id="modi" src="assets\images\mou_text.png">
          </div>
          <div id="second" class="col" fxFlex="50">
            <i>শ্রীপর্ণা দি আমাদের সবার প্রিয় সিপুদিদি খুব আদরের দিদি আমাদের, আমার খুব ইচ্ছে ছিলো যে আমার একটা দিদি থাকবে ভগবান আমার সেই  ইচ্ছে পূরণ করে দিয়েছে । তুমি যখন আমাকে ধরে ধরে সি প্রোগ্রামিং বোঝাতে, শেখাতে তখন আমি খুব অনুভব করতাম তুমি আমার নিজের দিদি।তোমাকে অনেক সময় ফোন করে করে জ্বালাতাম বলতাম আমায় বুঝিয়ে দাও আর তুমি খুব সুন্দর করে ধরে ধরে প্রত্যেকটা ধাপ বোঝাতে এই করতে করতে কখন তোমার সঙ্গে একটা সুন্দর বন্ধন তৈরি হয়ে গেল বুঝতেই পারলাম না,তুমি খুব আদরের দিদি আমাদের কাছে সারাজীবন এমনই প্রাণবন্ত, হাসিখুশি থেকো  আমরা সবসময় আছি তোমার পাশে খুব খুব ভালো থেকো সারাজীবন জেনো আমাদের এই ভালোবাসার বন্ধন  অটুট থাকে এই প্রার্থনা করি ঈশ্বরের কাছে ।❤️❤️❤️ Loads of love to you , hugs and kisses❤️❤️❤😘😘😘😘 </i><br>রীতজা<br><img id="ritu" src="assets/images/ritaja_text.png"><br><br><br>
            শুভ জন্মদিন সিপু দিদি ❤🎂🍫🍰🎂তোমার  দিনকে উপভোগ করো তুমি  অনেকটা নিরাপদে থেকো  এবং খুশি থেকো  তুমি আমাদের কাছে অত্যন্ত মূল্যবান,আমি তোমাকে  আমার জীবনে রাখার জন্য সত্যি  ভাগ্যবান,আমি প্রতিশ্রুতি দিলাম সবসময় এই ভবেই তোমায় জ্বলিয়ে যাবো ।<br><br>Ritaja<br><img src="https://live.staticflickr.com/65535/50547373418_7b5264bd0b_t.jpg"><br><br><br>
            শুভ জন্মদিন সিপু দিদি ❤🎂🍫🍰🎂তোমার  দিনকে উপভোগ করো তুমি  অনেকটা নিরাপদে থেকো  এবং খুশি থেকো  তুমি আমাদের কাছে অত্যন্ত মূল্যবান,আমি তোমাকে  আমার জীবনে রাখার জন্য সত্যি  ভাগ্যবান,আমি প্রতিশ্রুতি দিলাম সবসময় এই ভবেই তোমায় জ্বলিয়ে যাবো ।<br><br>Ritaja<br><img src="https://live.staticflickr.com/65535/50547373418_7b5264bd0b_t.jpg">
          </div>
        </div>
  </div>
  <div id="right" class="col" fxFlex="20">
    শুভ জন্মদিন সিপু দিদি ❤🎂🍫🍰🎂তোমার  দিনকে উপভোগ করো তুমি  অনেকটা নিরাপদে থেকো  এবং খুশি থেকো  তুমি আমাদের কাছে অত্যন্ত মূল্যবান,আমি তোমাকে  আমার জীবনে রাখার জন্য সত্যি  ভাগ্যবান,আমি প্রতিশ্রুতি দিলাম সবসময় এই ভবেই তোমায় জ্বলিয়ে যাবো ।<br><br>Ritaja<br><img src="https://live.staticflickr.com/65535/50547373418_7b5264bd0b_t.jpg">

    <br><br><br><br>শুভ জন্মদিন সিপু দিদি ❤🎂🍫🍰🎂তোমার  দিনকে উপভোগ করো তুমি  অনেকটা নিরাপদে থেকো  এবং খুশি থেকো  তুমি আমাদের কাছে অত্যন্ত মূল্যবান,আমি তোমাকে  আমার জীবনে রাখার জন্য সত্যি  ভাগ্যবান,আমি প্রতিশ্রুতি দিলাম সবসময় এই ভবেই তোমায় জ্বলিয়ে যাবো ।<br><br>Ritaja<br><img src="https://live.staticflickr.com/65535/50547373418_7b5264bd0b_t.jpg">
    <br><br><br><br>শুভ জন্মদিন সিপু দিদি ❤🎂🍫🍰🎂তোমার  দিনকে উপভোগ করো তুমি  অনেকটা নিরাপদে থেকো  এবং খুশি থেকো  তুমি আমাদের কাছে অত্যন্ত মূল্যবান,আমি তোমাকে  আমার জীবনে রাখার জন্য সত্যি  ভাগ্যবান,আমি প্রতিশ্রুতি দিলাম সবসময় এই ভবেই তোমায় জ্বলিয়ে যাবো ।<br><br>Ritaja<br><img src="https://live.staticflickr.com/65535/50547373418_7b5264bd0b_t.jpg">



  </div>
</div>

